body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1ebda;
  margin-top: 0px;
}

article{
  padding: 10px;
  padding-top:0px;
}

section{
  display: block;
}
p {
  font-family: "Heebo", sans-serif;
  line-height: 28px;
  font-size: 16px;
  text-shadow: left;
}

h1 {
  font-family: 'Spectral SC', serif;
  font-size: 30px;
  color: #58170D;
text-align: center;
margin: 0px;
}

h2 {
  font-family: 'Spectral SC', serif;
  font-size: 24px;
  color: #58170D;
}

h3 {
  font-family: 'Spectral SC', serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
}

hr {
  display: block;
  color: #c7a15e;
  height: 1px;
  border: 0;
  border-top: 3px solid #c7a15e;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-style: bold;
  font-size: 16px;
}

/* ********************TABLE*********************** */
table {
  padding: 5px;
  text-align: left;
  margin: auto;
}

th, td {
  padding-left: 5px;
}

th {
  background-color: #f1ebda;
}

.infotable tr:nth-child(even) {
  background-color: #dee1b8;
}

/* ********************IMAGE*********************** */
img {
  border: 0px;
  border-radius: 0px;

}

.imgbutton {
  margin: 10px;
  border-radius: 50px;
  width: 45%;

}

.imgbutton:hover {
  opacity: 0.5;
}



/* **************************HEADER******************************** */

.header {
  width: 100%;
  margin-bottom: 0px;
}



/* ************************NAVBAR************************** */
.topnav {
  overflow: hidden;
  background-color: #c7a15e;
  margin-top: -5px;
padding: 10px;
 align-items: center;
  align-content: center;
  border: 10px;
  border-bottom:5px;
  border-color: #922412;
}

.topnav a {
  font-family: 'Spectral SC', serif;
  float: center;
  color:  #58170D;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #922412;
  color: white;
}

/* ************************Container************************ */
.container {
  display: inline-grid;
    color: white;
   padding: 10px;
    margin: 10px;
  }


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;

}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

    /* *****************************Character sheet page******************** */
.charsheet section{
  display: table;
  clear: both;
margin:auto;  width:90%;
}

.charsheet hr{
  border-color:#922412;
border-width: thick;
}

.charsheet h2{
  color: #922412;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.charsheet p{
   margin: 0px;
}

.charsheet tr{
  margin: auto;

}
.charsheet table{
  table-layout: fixed;
  /* width: 100%; */
  overflow: auto;
}

.charsheet th,td{
  text-align: center;
  color: #922412;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

}
